Package: screenbridge
Version: @VERSION@
Section: sound
Priority: optional
Architecture: all
Depends: python3 (>= 3.10), python3-gi, gir1.2-gtk-4.0, pulseaudio-utils
Maintainer: ScreenBridge contributors
Homepage: https://github.com/elixpo/linux_screen_share
Description: one-click computer audio sharing for Linux
 ScreenBridge creates a simple audio input that makes computer sound
 available to calls, recordings, and streaming applications.
